<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="studentxsd" class="com.net.auto.byType.Student">
   <property name="id" value="1111"></property>
   <property name="name" value="venkat"></property>
   
   </bean>
   
   
    <bean id="studentsd" class="com.net.auto.byType.Student">
   <property name="id" value="1111"></property>
   <property name="name" value="venkat"></property>
   
   </bean>
   
   <bean id="college" class="com.net.auto.byType.College" autowire="byType"> 
   <property name="id" value="4444"></property>
   </bean>
</beans>